body {
  margin: 0;
  padding: 0;
}
.change_btn {
  display: flex;
  margin-bottom: 10px;

}
.App {
  position: relative;
}
.change_btn button {
  margin: 10px 20px;
  cursor: pointer;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.change_btn button:hover{
  border: 2px solid rgb(2, 184, 2);
  margin: 8px 19px;
}
.editor_ {
  border-radius: 10px;
  margin-left: 20px;
}
p {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 25%;
  height: 90%;
  resize: none;
  border: 1px solid black;

}